body {

    font-family: 'Khula', sans-serif;
}


/* Navigation */


.logo {
  width:100px;
}

.navbar {
  background-color: white;
    margin-bottom: 35px;
}


/* Main Area */


#main {
  height:100%;
  background-color: #1e6fba;
  padding-top: 75px;
       font-family: 'Lato', sans-serif; 
}


.display-4 {
font-weight: lighter;

}

.display-5 {
font-weight: 100;

}

/* Footer */

footer {
height: 100%;

}

/*
#red-box {
  background-color: red;
  width:500px;
  height: 250px;
  z-index: -5;
}
*/

#videos {
    margin-top: 50px;
}

